<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qraffa.easyrentboot.dao.MessageDao">
<!--根据uid和接受者id查询消息-->
    <select id="queryMessageById" resultType="com.qraffa.easyrentboot.model.entity.Message" >
        SELECT
            mid,sender_id,receiver_id,content,send_time
        FROM
            er_message
        <where>
            <choose>
                <when test="uid!=null">
                    (sender_id=#{uid} AND receiver_id=#{receiverId}) OR (sender_id=#{receiverId} AND receiver_id=#{uid})
                </when>
                <otherwise>
                    receiver_id=#{receiverId}
                </otherwise>
            </choose>
            <if test="status!=null">
                AND status=#{status}
            </if>
        </where>
        ORDER BY
            mid DESC
        LIMIT
            30
    </select>

<!--发送消息-->
    <insert id="insertMessage" parameterType="com.qraffa.easyrentboot.model.entity.Message" keyProperty="mid">
        INSERT INTO
            er_message(sender_id,receiver_id,content,send_time,status)
        VALUES
            (#{senderId},#{receiverId},#{content},#{sendTime},#{status})
    </insert>

    <!--  修改消息状态  -->
    <update id="updateMessage">
        UPDATE
            er_message
        SET
            status=1
        WHERE
        receiver_id=#{receiverId}
    </update>

    <!--  查询消息聊天好友列表  -->
    <select id="getMessageUserList" resultType="com.qraffa.easyrentboot.model.entity.User">
        SELECT
            DISTINCT uname,nick_name,uid,avatar
        FROM
            er_user JOIN er_message ON (er_user.uid=er_message.sender_id OR er_user.uid=er_message.receiver_id)
        WHERE
            er_user.uid!=#{uid} AND (er_message.receiver_id=#{uid} OR er_message.sender_id=#{uid})
        LIMIT
            10
    </select>
</mapper>
